{% extends 'base.html' %}
{% block title %} Направления {% endblock %}
{% block content %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим {{id}}</h1>
    <p class="mb-4">Найдено {{ tour_id|length }} туров, от {{sums_min}} до {{sums_max}} и от {{night_min}} ночей до {{night_max}} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for id, tour in tour_id.items %}
      <div class="col-4">
        <div class="card mb-4">
          <img src="{{tour.picture}}" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">{{tour.title}}</h2>
            <p class="card-text">{{tour.description}}</p>
            <a href="/tour/{{id}}/" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}